/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2014, 4:05:42 PM
    Author     : Tanveer
*/

/*=================== For all pages ========================*/

.padding_horiz_thin
{
    display: inline-block;
    width: 100%;
    height: 10px;
}

.pagelet_divider{
                margin-top: 10px;
                margin-bottom: 15px;
                border-bottom: 1px solid #FE7243;
            }
            
            .heading{
                color:#2d9431;
                font-weight: bold;
                font-size: 18px;
                
            }      
            .heading span{
                color:#5c5c5c;
                font-weight: bold;
                font-size: 17px;
            }
            .button{
                width:100px!important; 
                text-align: center;
                font-weight: bold;
            }
            *{
                outline-color: blue;
            }
            
/*================================  pagelets  ================================*/
.comment_box{
    
}
.pagelet{
    background-color: white;
    padding: 15px;
    margin-bottom: 1px;
    
}
.pagelet_divider{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}
.user_comment{
   padding: 5px 0px 5px 0px; 
}




/*================================  Landing Page (purnob)  ================================*/


.search_header{
    font-weight: bold;
    color:#2d9431;
    font-size:14px;
    
    
}
.search_header span{
    color:#3c3c3c;
    font-size: 12px!important;
}
.search_by div a{
    color:#3c3c3c;
    font-weight: bold;
}
.car_type{
    padding: 0 0 0 15px;
}
.car_name{
    font-size: 16px; 
    color:#7b7b7b;
    padding: 10px 0 0 0;
}
.FOB_price{
    color:#5e5e5e;
    font-weight: bold;
}
.FOB_price span{
    color:#fd6e46;
    padding: 0 0 0 5px;
    
}

/*================================  car-details (purnob)================================*/

.Accessories_header{
    
    background-color: #2d9431;
    padding: 10px;
}
.organize_title{
    padding: 0 0 0 15px; 
    font-size: 18; 
    font-weight: bold;
    color:#3c3c3c;
}
.organize_title img{
    padding-right: 10px;
}
.organize{
    color: #FE7243;
    text-decoration: underline;
}
.details_title{
    color:#3c3c3c;
    font-weight: bold;
}
.details_title span{
     color:#2d9431;
}
.tk{
    color: #FE7243; 
    font-weight: bold; 
    font-size: 18px;
}

/*================================  Contact (purnob)================================*/

.contact_header{
    padding: 5px 0 5px 0 ;
    font-weight: bold;
    text-align: center;
    color: white; 
}
.contact_info{
    color: #4b4b4b;
    padding: 0 0 0 5px;
    font-weight: bold;
}

/*================================  footer (purnob)================================*/

.anchor_style{
    color: #71d375;
    font-weight: bold;
}
.footer_info{
    padding: 15px 0;
    font-weight: bold;
    color: white; 
}


/*=======================================Menu=======================================*/

.menu{padding: 20px 0 0 0;}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  border-radius: 4px;
  border: 1px solid #98c571;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1;
 
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -2px 0px #aacf8a, inset 0 1px 0 #d4e7c4;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li > a {
  padding: 20px 25px 21px 25px;
  font-size: 18px;
  line-height: 10px;
  text-decoration: none;
  color: #5c5c5c;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu > ul > li:first-child > a {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
#cssmenu.align-center > ul > li:first-child > a {
  border-radius: 0;
}
#cssmen.align-right > ul > li:first-child > a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #2d9431;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  background: #71d375;
  color: white;
  
}
#cssmenu > ul > li:after {
  content: '';
  position: absolute;
  top: 18px;
  right: 0;
  display: block;
  height: 20px;
  width: 1px;
  opacity: .15;
  background: rgba(0, 0, 0, 0.7);
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
}
#cssmenu.align-right > ul > li:after {
  right: auto;
  left: -1px;
}
#cssmenu > ul > li:before {
  content: '';
  position: absolute;
  top: 18px;
  right: -1px;
  display: block;
  height: 20px;
  width: 1px;
  
}
#cssmenu.align-right > ul > li:before {
  right: auto;
  left: 0px;
}
#cssmenu > ul > li:last-child:after,
#cssmenu > ul > li:last-child:before {
  display: none;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px 19px 25px;
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
  color: #5c5c5c;
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: #5c5c5c;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 20px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #5c5c5c;
  border-bottom: 2px solid #5c5c5c;
  width: 18px;
  height: 3px;
  color:#5c5c5c;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #5c5c5c;
  border-bottom: 2px solid #5c5c5c;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 30px;
  display: block;
  width: 18px;
  height: 2px;
  background: #5c5c5c;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #444444;
}



/*================= Light Box====================*/

ul{
    list-style-type:none;
    padding-left: 0;
}
.gallery li {
    display: block;
    float: left;
    height: 100px;
    margin-bottom: 6px;
    margin-right: 6px;
    width: 100px;
}
.gallery li a {
    height: 100px;
    width: 100px;
}
.gallery li a img {
    max-width: 100px;
}
