/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 15, 2014, 4:05:42 PM
    Author     : Tanveer
*/

/*=================== For all pages ========================*/
@font-face {
    font-family: dancing;
    src: url(../fonts/DancingScript-Regular.otf);
}

@font-face {
    font-family: lobster;
    src: url(../fonts/Lobster_1.3.otf);
}
@font-face {
    font-family: raleway_med;
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
    font-family: montserrat_reg;
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face {
    font-family: loveQuarrel_reg;
    src: url(../fonts/LoversQuarrel-Regular.otf);
}

.main_wrapper {
    width: 100%;
    margin: 0 auto;
}
.top{ background-color : #703684 ;}
.middle{ background-color:#EDF0F5 ;}
.footer{background-color: #FFFFFF;}

.pagelet_divider{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #FE7243;
}
.user_comment{
    padding: 5px 0px 5px 0px; 
}
.message_friends_divider_full{
    border-top: 2px solid lightgray;
}
.message_friends_divider_full,.message_friends_divider_others{
    background-color: white;
    padding: 10px;
    border-left: 2px solid lightgray;
    border-right: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}
*{
    margin: 0 auto;
}
.pl_none{
    padding-left:0!important;
}
.mt_none{
    margin-top:0!important;
}
.padding_horiz_thin
{
    display: inline-block;
    width: 100%;
    height: 10px;
}

.pagelet_divider{
    margin-top: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #FE7243;
}

.heading,.heading_export{
    font-weight: bold;
    font-size: 18px;
}      
.heading{
    color:#2d9431;
}      
.heading_export{
    color:#198fd0;
}      
.heading span,.heading_export span{
    color:#5c5c5c;
    font-weight: bold;
    font-size: 17px;
}
.button{
    width:100px!important; 
    text-align: center;
    font-weight: bold;
}
*{
    outline-color: blue;
}
button{
    font-weight: bold!important ;
    color:white;
    text-align: center;
}

*:focus {
    outline:none!important; /* removes ugly dotted border but may make template more unsuable, up to you
                                     if you want to keep it! */
}
.text_align_right{
    text-align: right;
}
.light_blue{
    background-color: #42ade8!important;
}
.white_back{
    background-color:white;
}
.pt_15{
    padding-top: 15px;
}


/*================================  pagelets  ================================*/

.pagelet{
    background-color: white;
    padding: 15px;
    margin-bottom: 1px;

}
.pagelet_divider{
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lightgray;
}
.user_comment{
    padding: 5px 0px 5px 0px; 
}



/*================================  BioGraphy  ================================*/
.grow img {
    height: 225px;
    width: 200px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.grow img:hover {
    width: 210px;
    height: 250px;
}
.hoverTable{
    width: 700px; 
    border-collapse:collapse; 
}
.hoverTable td{ 
    border:#FFD385 1px solid;
}
.hover_table_td_1{ 
    padding: 7px 7px 7px 55px;
}
.hover_table_td_others{ 
    text-align: center;
}

.hoverTable th{ 
    padding:7px; border:#4e95f4 1px solid;
    text-align: center;
    background-color: #72D376;
    color: white;
}
.color:hover {
    background-color: #4e95f4;
    color: white;
    font-weight: bold;
}
.welcome{
   font-family: dancing; 
   font-size: 30px; 
   color: #72D376; 
   font-weight: bold;
}
.style_para{
    font-weight: bold; 
    font-size: 16px;
    text-align: justify;
    text-indent: 50px;
}

/*================================  Landing Page (purnob)  ================================*/


.search_header,.search_header_export{
    font-weight: bold;
    font-size:14px;
}
.search_header{
    color:#2d9431;
}
.search_header_export{
    color:#198fd0;
}
.search_header_liton{
    font-weight: bold;
    font-size:12px;
}

.search_header span,.search_header_export span{
    color:#3c3c3c;
    font-size: 12px!important;
}

.search_by div a{
    color:#3c3c3c;
    font-weight: bold;
}
.car_type{
    padding: 0 0 0 15px;
}
.car_name{
    font-size: 16px; 
    color:#7b7b7b;
    padding: 10px 0 0 0;
}
.FOB_price,.FOB_price_export{
    color:#5e5e5e;
    font-weight: bold;
}
.FOB_price_export span{
    color:#ed1f24;
    padding: 0 0 0 5px;
}
.FOB_price span{
    color:#fd6e46;
    padding: 0 0 0 5px;
}
.car:hover{
    opacity:0.6;
}

/*================================  Header (purnob)  ================================*/

.header_wrapper{
    margin : 0 auto;
    width :100%;
    background-color: #72D376;
    padding-top: 10px;
}
.body_wrapper{
    margin : 0 auto;
    width :100%;
    padding-top: 25px;
    background-color: white; 
}
.bullet_ul{
    list-style-type: disc;
    list-style-position: outside;
    list-style-image: none;
}
.banner_wrapper{
    margin : 0 auto;
    width :100%;
}
.slider_wrapper{
    margin : 0 auto;
    width :100%;
    background: url(../images/temple.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;   /* this one centers the background image */
    background-position: right top;

}

/*================================  car-details (purnob)================================*/

.main_name,.main_name_export{
    font-weight: bold;
    font-size: 18px;
}
.main_name{
    color: #2d9431; 
}
.main_name_export{
    color: #198fd0; 
}
.Accessories_header{
    background-color: #2d9431;
    padding: 10px;
}
.Accessories_header_export{
    background-color: #198fd0;
    padding: 10px;
}
.organize_title{
    padding: 0 0 0 15px; 
    font-size: 17px; 
    font-weight: bold;
    color:#3c3c3c;
}
.organize_title img{
    padding-right: 10px;
}
.organize{
    color: #FE7243;
    text-decoration: underline;
}
.organize_export{
    color: #ed1f24;
    text-decoration: underline;
}
.details_title,.details_title_export{
    color:#3c3c3c;
    font-weight: bold;
}
.details_title span{
    color:#2d9431;
}
.details_title_export span{
    color:#198fd0;
}
.tk{
    color: #FE7243; 
    font-weight: bold; 
    font-size: 18px;
}
.details_value{
    color: #FE7243; 
    font-weight: bold;
    font-size: 12px;
}
.option_modal{
    padding-left: 15px;
    font-weight: bold;
    font-size: 13px;
    color: black; 
}
.option_modal ul li{
    font-size:16px;
    font-family: montserrat_reg;
}
.modal-body{
    padding-bottom: 50px!important;
}

/*================================  Contact (purnob)================================*/

.contact_header{
    padding: 5px 0 5px 0 ;
    font-weight: bold;
    text-align: center;
    color: white; 
}
.contact_info{
    color: #4b4b4b;
    padding: 0 0 0 5px;
    font-weight: bold;
    text-align: justify;
}
.form_title{
    color:#868686;
}

/*===============================Biography=======================================*/

.biography_wrapper{

    width:100%;
    margin:0 auto;
}
.bio_text{
    font-family: montserrat_reg;
    font-size:16px;
    color:grey;
}
.bio_title{
    font-family: loveQuarrel_reg;
    font-size: 85px;
    color:#FE7243; 
    margin-top: 15px;
    padding-left: 65px;
    text-align: center;
}
.bio_title span{
    color:#3c3c3c;
}
/*================================  footer (purnob)================================*/

.anchor_style{
    color: #71d375;
}
.anchor_style_export{
    color: #198fd0;
}
.anchor_style,.anchor_style_export{
    font-weight: bold;
}
.footer_wrapper{
    width: 100%;
    margin: 0 auto;
    background-color: #4B4B4B;
    padding: 15px 0;
    font-weight: bold;
    color: white; 
}



/*=======================================Menu=======================================*/

.menu{
    padding-top: 20px;
    padding-right:15px;
}

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#cssmenu #menu-button {
    display: none;
}
#cssmenu {
    width: auto;
    border-radius: 4px;
    border: 1px solid #98c571;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -2px 0px #aacf8a, inset 0 1px 0 #d4e7c4;
}
.cssmenu_liton{
    border: 1px solid #42ade8!important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), inset 0 -2px 0px #42ade8, inset 0 1px 0 #42ade8!important;
}
#cssmenu > ul > li {
    float: left;
}
#cssmenu.align-center > ul {
    font-size: 0;
    text-align: center;
}
#cssmenu.align-center > ul > li {
    display: inline-block;
    float: none;
}
#cssmenu.align-right > ul > li {
    float: right;
}
#cssmenu > ul > li > a {
    padding: 20px 25px 21px 25px;
    font-size: 18px;
    line-height: 10px;
    text-decoration: none;
    color: #5c5c5c;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
#cssmenu > ul > li:first-child > a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#cssmenu.align-center > ul > li:first-child > a {
    border-radius: 0;
}
#cssmen.align-right > ul > li:first-child > a {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
    color: #2d9431;
}
.cssmenu_liton> ul > li.active > a {
    color: #42ade8!important;
}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
    background: #71d375;
    color: white;

}

.cssmenu_liton > ul > li:hover > a,.cssmenu_liton > ul > li > a:hover {
    background: #42ade8!important;
    color: white!important;
}

#cssmenu > ul > li:after {
    content: '';
    position: absolute;
    top: 18px;
    right: 0;
    display: block;
    height: 20px;
    width: 1px;
    opacity: .15;
    background: rgba(0, 0, 0, 0.7);
    background: linear-gradient(to top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0));
}
#cssmenu.align-right > ul > li:after {
    right: auto;
    left: -1px;
}
#cssmenu > ul > li:before {
    content: '';
    position: absolute;
    top: 18px;
    right: -1px;
    display: block;
    height: 20px;
    width: 1px;

}
#cssmenu.align-right > ul > li:before {
    right: auto;
    left: 0px;
}
#cssmenu > ul > li:last-child:after,
#cssmenu > ul > li:last-child:before {
    display: none;
}
#cssmenu.small-screen {
    width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
    width: 100%;
    text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center {
    float: none;
    display: block;
    border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
    padding: 18px 25px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
    display: none;
}
#cssmenu.small-screen #menu-button {
    display: block;
    padding: 18px 25px 19px 25px;
    cursor: pointer;
    font-size: 15px;
    text-decoration: none;
    color: #5c5c5c;
}
#cssmenu.small-screen #menu-button.menu-opened {
    color: #5c5c5c;
}
#cssmenu.small-screen #menu-button:after {
    content: "";
    position: absolute;
    right: 25px;
    top: 20px;
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border-top: 2px solid #5c5c5c;
    border-bottom: 2px solid #5c5c5c;
    width: 18px;
    height: 3px;
    color:#5c5c5c;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
    border-top: 2px solid #5c5c5c;
    border-bottom: 2px solid #5c5c5c;
}
#cssmenu.small-screen #menu-button:before {
    content: "";
    position: absolute;
    right: 25px;
    top: 30px;
    display: block;
    width: 18px;
    height: 2px;
    background: #5c5c5c;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
    background: #444444;
}



/*================= Light Box====================*/

ul{
    list-style-type:none;
    padding-left: 0;
}
.gallery li {
    display: block;
    float: left;
    height: 120px;
    width: 130px;
    margin-bottom: 6px;
    margin-right: 10px;
}
.gallery li a {
    height: 100px;
    width: 100px;
}
.gallery li a img {
    max-width: 130px;
    max-height: 120px;
}

/*==========================Carousel-Slider=======================*/

.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade{
    z-index: 2;
}


@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/*======================Quick Contact=======================*/


#feedback{
    position: fixed;
    top:100px;
    left:-392px;
    z-index: 999999;
    background-color: white;
}
#feedback a{
    background:url("../images/feedback-buttons.png")  no-repeat center left transparent;
    display: block;
    width:40px;
    height:175px;
    float: left;
    text-indent:-9999em;
    position: absolute;
    top:120px;
    right:-40px;
}
#feedback a:hover{
    background-position: center right;
}


/*======================Quick Chat=======================*/


#chat_box{
    position: fixed;
    bottom: -305px;
    right: 0px;
    background-color: white;
}
#chat_box a{
    background:url("../images/let_chat_icon.png")  no-repeat center top transparent;
    display: block;
    width:175px;
    height:140px;
    float: top;
    text-indent:9999999em;
    position: absolute;
    top: -132px;
    right:  13px;
}
#chat_box a:hover{
    background-position: center top;
}

.chat_heading{
    padding-top: 10px;
    text-align: center;
    background-color: #FF9507;
    color: #fff;
}
.chat_margin{
    margin-bottom: 50px;
}



/*================================Less CSS=============================== */       
@media all and (max-width: 991px){
    .text_align_right{
        text-align: left!important;
    }
    .menu{
        padding-left: 0!important;
        padding-top: 0!important;
    }
}

@media all and (max-width: 1199px) and (min-width: 992px){


    #gmap_canvas{
        width: 990px!important;
        float:left!important;
    }
}
@media all and (max-width: 991px) and (min-width: 700px){
    #feedback{
        top:170px!important;
        left:-220px;
    }

    #gmap_canvas{
        width: 650px!important;
        float:left!important;
    }
}
@media all and (max-width: 699px)and (min-width: 500px){
    #feedback{
        top:180px!important;
        left:-220px;
    }

    #gmap_canvas{
        width: 520px!important;
        float:left!important;
    }
}
@media all and (max-width: 499px){
    #feedback{
        top:180px!important;
        left:-220px;
    }

    #gmap_canvas{
        width: 320px!important;
        float:left!important;
    }  
}


/*================================  Admin Panel  ================================*/

.list_title{
 font-weight: bold;
 font-size: 14px;
 font-family:montserrat_reg;
}
.list_title:hover{
    background-color: transparent!important;
    text-decoration: none!important;
    background-color: #42ADE8!important;
}
.list > li{
   list-style-type: none;
   color: black;
   list-style-type: none;
   text-align: left;
   padding: 5px 0;
}
.list > li a{
    
    display: block;
    color: black !important;
    padding: 7px;
    border-radius: 3px!important;
    text-decoration: none;
}
.list > li a:hover{
    background-color: #72D376;
    color:#5c5c5c!important;
}
.list > li> ol > li{
   list-style-type: none;
}
.panel_header{
    color: #42ADE8!important;
    font-weight: bold;
}
.welcome_admin,.welcome_admin span{
   font-family: dancing; 
   font-size: 50px; 
   font-weight: bold;
}
.welcome_admin span{
   color: #fe7243; 
}